#jumbotron{
    background: $primary
}

#sertifikasi{
    background: #F6F6F6;
    padding-top: 30px;
    padding-bottom: 30px;
}

#katalog{
    padding-top: 50px;
    padding-bottom: 30px;
}

#tentang {
    margin-top: 80px;
    margin-bottom: 80px;
}

#manfaat{
    padding-top: 30px;
    padding-bottom: 30px;
}
#mitra{
    color: white;
    background: $primary;
    padding-top: 30px;
    padding-bottom: 30px;
}
#testimoni{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #F6F6F6;
}
#video{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: $primary;
}
#pertanyaan{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #F6F6F6;
}
